---
import Head from '@components/Head.astro';
import Header from '@components/Header.astro';
import Aggregate from '@components/Aggregate.astro';
---

<style>

</style>

<html>
	<Head/>
	<body>
		<Header/>
		<main>
			<Aggregate />
		</main>
	</body>
</html>